<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/master.css">
        <title>Leader for the week</title>
    </head>
    <body>
        <div class="navigation">
            <div class="brand">
                <img class="brand-img" src="/img/logo.png" alt="logo">
            </div>
            <h1>Andela</h1>
        </div>
        <div class="container">
            <div class="team">
                <h2>Leader Board</h2>
                <p>Team Metis — Cohort 39</pp>
            </div>
            <div class="wrapper">
                <div class="current-leader">
                    <h2>Current Leader</h2>
                    <p id="currentLeader">
                        <i class="fa fa-spinner fa-spin"></i>
                    </p>
                </div>
                <div class="next-week">
                    <h2>Next Week's Leader</h2>
                    <div id="nextLeader">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="draw-btn-div">
            <button type="button" class="draw-btn" id="draw">Draw</button>
        </div> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/clientController.js"></script>
    </body>
</html>
