body {
    margin: 0;
}
.navigation {
    background-color: #3359df;
}
.brand {
    width: 40px;
    padding: 5px 0 5px 10px;
    box-shadow: border-box;
}
.brand-img {
    width: 100%;
    animation: spin 4s infinite linear;
}
.brand, .navigation h1 {
    display: inline-block;
    vertical-align: middle;
}
.navigation h1 {
    margin: 0;
    font-family: 'Abel', sans-serif;
    color: white;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
